.prev_next_buttons {
    line-height: 40px;
    margin-bottom: 20px;
}

.prev_next_buttons a[rel="prev"], .prev_next_buttons a[rel="next"] {
    display: block;
}

.prev_next_buttons a[rel="prev"] {
    float: right;
}

.prev_next_buttons a[rel="next"] {
    float: left;
}

.prev_next_buttons::after {
    content: '';
    display: block;
    clear:both;
}